// Reference:
// http://www.google.com/design/spec/components/text-fields.html

//@include foundation-forms;
form {

    span.form-error {
        color: $alert-color;
        font-size: 0.75rem;
        font-weight: $global-weight-normal;
        font-style: italic;
        margin-bottom: 1rem;
        margin-top: -1px;
        padding: 0 0 0.5625rem;
    }

    label, .md-switch span {
        color: $primary-color;
        font-size: rem-calc(14);
    }

    input:not([type="radio"]):not([type="checkbox"]), select, textarea {
        padding: rem-calc(16) 0 0 0;
        margin: rem-calc(28) 0 rem-calc(8);
        border-bottom: 1px solid $grey-300;
        border-radius: 0;
        background-color: transparent;
        &::-webkit-input-placeholder,&::-webkit-input-placeholder {
            color: $black-26;
        }
        &:-moz-placeholder, &::-moz-placeholder {
            color: $black-26;
        }
        &:focus, &:hover {
            border-bottom: 2px solid $primary-color;
            position: relative;
            top: 1px;
            background-color: transparent;
        }
    }

    textarea {
        min-height: rem-calc(70);
        margin-top: 0;
    }

    select {
        outline: none;
        &:-moz-focusring {
            color: transparent;
            text-shadow: 0 0 0 #000;
        }
    }

    input:not([type="radio"]):not([type="checkbox"]), select, textarea {
        &.is-invalid-input {
            border-bottom: 1px solid $alert-color;
            &:focus {
                border-bottom: 2px solid $alert-color;
            }
            &:not(:focus) {
                background-color: transparent;
            }
            & + label {
                color: $alert-color;
                background-color: transparent;
            }
        }
    }

    input:not([type="radio"]):not([type="checkbox"]), select, textarea {
        & + label {
            position: relative;
            top: rem-calc(-56);
            transition: top .45s ease-in-out, color .45s ease-in-out, font-size .45s ease-in-out;
            height: 0;
            cursor: text;
        }
    }

    &[data-float-label] {
        input:not([type="radio"]):not([type="checkbox"]) {
            &:not([placeholder]) {
                & + label:not(.no-float) {
                    font-size: rem-calc(16);
                    color: $black-26;
                    position: relative;
                    top: rem-calc(-36);
                    transition: top .45s ease-in-out, color .45s ease-in-out, font-size .45s ease-in-out;
                    height: 0;
                    cursor: text;
                }
                &:focus + label:not(.no-float), &:valid + label:not(.no-float) {
                    color: $primary-color;
                    font-size: 0.875rem;
                    top: rem-calc(-56);
                }
            }
            &[placeholder] {
                & + label:not(.no-float) {
                    color: $primary-color;
                    font-size: 0.875rem;
                    top: rem-calc(-56);
                    position: relative;
                    height: 0;
                    cursor: text;
                }
            }
            &.is-invalid-input + label {
                color: $alert-color;
                &:not(.no-float) {
                    color: $alert-color;
                    top: rem-calc(-56);
                    font-size: 0.875rem;
                }
            }
        }

        // When has group
        .input-group {
            .input-group-label {
                position: relative;
                display: table;
                top: rem-calc(-40);
                padding: rem-calc(3) 1rem;
                float: right;
            }
            .input-group-field {
                height: rem-calc(39);
                &:focus {
                    & + label + .input-group-label {
                        padding-bottom: rem-calc(4);
                    }
                }
            }
        }
    }

    .form-actions {
        margin: rem-calc(28) 0 rem-calc(8);
    }

}