//
// UTILITY CLASS AND ELEMENTS
//
@media #{$small-up} {
    body {
        .text-small-left {
            text-align: left;
        }
        .text-small-center {
            text-align: center;
        }
        .text-small-right {
            text-align: right;
        }
    }
}

@media #{$medium-up} {
    body {
        .text-medium-left {
            text-align: left;
        }
        .text-medium-center {
            text-align: center;
        }
        .text-medium-right {
            text-align: right;
        }
    }
}

@media #{$large-up} {
    body {

    }
}