//  Foundation for Sites Settings
//  -----------------------------
//
//  Table of Contents:
//
//   1. Abide
//   2. Accordion
//   3. Badge
//   4. Breadcrumbs
//   5. Breakpoints
//   6. Button
//   7. Button Group
//   8. Callout
//   9. Close Button
//  10. Dropdown
//  11. Flex Video
//  12. Forms
//  13. Global
//  14. The Grid
//  15. Label
//  16. Media Object
//  17. Menu
//  18. Off-canvas
//  19. Orbit
//  20. Pagination
//  21. Progress Bar
//  22. Reveal
//  23. Switch
//  24. Table
//  25. Tabs
//  26. Thumbnail
//  27. Tooltip
//  28. Top Bar
//  29. Base Typography
//  30. Typography Helpers

// Abide
// -----


// Accordion
// ---------

// Badge
// -----


// Breadcrumbs
// -----------


// Breakpoints
// -----------


// Button
// ------

$button-radius: 2px;

// Button Group
// ------------


// Callout
// -------


// Close Button
// ------------


// Dropdown
// --------


// Flex Video
// ----------


// Forms
// -----

$input-border: 0;
$input-border-focus: 0;
$input-shadow: none;
$input-shadow-focus: none;


// Global
// ------

$global-width: rem-calc(960);
$primary-color: $cyan-500;
$secondary-color: $yellow-500;
$success-color: $green-500;
$warning-color: $amber-500;
$alert-color: $red-500;
$light-gray: $grey-50;
$medium-gray: $grey-200;
$dark-gray: $grey-500;
$black: $black-87;
$body-background: $grey-200;
$body-font-color: $black;
$body-font-family: Roboto, Noto, sans-serif;

$global-weight-light: 300;
$global-weight-normal: 400;
$global-weight-bold: 500;


// The Grid
// --------


// Label
// -----


// Media Object
// ------------


// Menu
// ----


// Off-canvas
// ----------


// Orbit
// -----


// Pagination
// ----------


// Progress Bar
// ------------


// Reveal
// ------


// Switch
// ------


// Table
// -----


// Tabs
// ----


// Thumbnail
// ---------


// Tooltip
// -------


// Top Bar
// -------

$topbar-padding: 0;
$topbar-background: $primary-color;


// Base Typography
// ---------------


// Typography Helpers
// ------------------
